---
import "../app.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Astro</title>
  </head>
  <body>
    <div
      class="absolute top-0 left-0 min-h-screen w-full bg-background font-PTSans text-text"
    >
      <a href="/" class="mx-8 my-4 block font-PlayfairDisplay font-bold">
        <svg
          class="mr-3 inline-block h-5"
          viewBox="0 0 99 99"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M10 0H25V8H75V0H90V8H99V99H0V8H10V0ZM91 32H8V91H91V32Z"
            fill="#281F15"></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M10 0H25V8H75V0H90V8H99V99H0V8H10V0ZM91 32H8V91H91V32Z"
            fill="#281F15"></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M10 0H25V8H75V0H90V8H99V99H0V8H10V0ZM91 32H8V91H91V32Z"
            fill="#281F15"></path>
        </svg>

        Meetup.day
      </a>
      <slot />
      <div class="my-12 text-center text-text text-opacity-40">
        made by <a
          rel="external"
          target="_blank"
          class="underline"
          href="https://alexander.sbs">Alexander Schau</a
        >
      </div>
    </div>
  </body>
</html>
